<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <appSettings>
    <add key="ResultRepositoryConnStr" value="Data Source=mssql-rds.test.EquipmentReturn.com.au;Initial Catalog=AutomationResults;User Id=testrunner; Pwd=Q2r46gssR; application name=EquipmentReturn.automation" />
    <!--add key="ResultRepositoryConnStr" value="Data Source=db02-stag01.cihkda6g9gsf.ap-southeast-2.rds.amazonaws.com;Initial Catalog=AutomationResults;User Id=testrunner; Pwd=tEUQm$8T&amp;CXmcVy2&amp;c^3nA5p; application name=EquipmentReturn.automation"/-->

    <add key="ResultFlag" value="false" />
    <add key="NewTestRun" value="false" />

    <!--PLEASE leave this value set to 'true' as required for automated deployment ie default configuration-->
    <add key="DisableExtentReport" value="false" />

    <!--set MobileMode value to true for chromemobilemode or set false-->
    <add key="MobileMode" value="true" />

    <!--set DeviceMode value to true for android mobile device  or set false to Ios mobile device-->
    <add key="DeviceMode" value="true" />

    <!---Scripts to be executed in specified environment path-->
    <add key="isNonProd" value="true" />
    <add key="isProd" value="false" />

    <!--PLEASE leave this value set to 'true' as required for automated deployment ie default configuration-->
    <add key="isSmokeTestEnabled" value="false" />

    <!---Possible Values Staging 1 ; Trunk 2; NearPrime 3; TestLive 4; EquipmentReturnIt 5;Ackeware 6 -->
    <add key="TestSuitID" value="1" />
    <!--Need to change before RUN-->
    <!---Possible Values Smoke - 1; Regression - 2;SmokeTestCI - 3;SmokeTestBS - 4;Adhoc - 5-->
    <!--browser to use for execution possible values : firefox:chrome:ie:android:iphone:phantomjs:safari-->
    <add key="browser" value="chrome" />
    <add key="browser_version" value="84.0.4147.125" />
    <!--For Browser stack-->
    <!--execution environment for local and cloud sauceLabs execution(if user does not want to select cloud environment from jenkins)-->
    <add key="version" value="11" />
    <add key="platform" value="Windows 10" />
    <!--execution environment for local and cloud browserstack execution(if user does not want to select cloud environment from jenkins)-->
    <add key="os" value="Windows" />
    <add key="os_version" value="10" />
    <!--environment: possible values : local|BrowserStack|-->
    <add key="environment" value="BrowserStack" />
    <add key="ScreenShotPath" value="http://10.0.0.143/ScreenShots/" />
    <add key="serverlocal" value="http://127.0.0.1:4723/wd/hub" />
    <add key="server" value="http://hub-cloud.browserstack.com/wd/hub/" />
    <add key="browserstackuser" value="sunil406" />
    <add key="browserstackkey" value="v6NkgMhsa78ukX7gcLAQ" />
    <!--device: possile values: android|iphone-->
    <add key="androiddevice" value="android" />
    <add key="androiddeviceNameLocal" value="Dev’s iPhone" />
    <!--//92012226c0291469-->
    <add key="androiddeviceNameBS" value="Samsung Galaxy S5" />
    <add key="androiddeviceNameIphone" value="" />
    <!--device: possile values: android|iphone-->
    <add key="iosdevice" value="ios" />
    <add key="iosdeviceNameLocal" value="" />
    <add key="iosdeviceNameBS" value="iPhone 5" />
    <add key="iosdeviceNameIphone" value="iPhone 5" />

    <!--Environment to be tested-->
    <add key="NonProdUrl" value="http://ttecassetreturn.azurewebsites.net/" />
    <add key="ProdUrl" value="https://returns.ttec.com/" />

    <!--cloudImplicitWait And cloudPageLoadTimeOut Used By Selenium WebDriver For Synchronization-->
    <add key="ImplicitWait" value="240" />
    <add key="PageLoadTimeOut" value="120" />
    <!--possible values for updateJira are: Yes Or No, May be helpful if Jira Is Down Or Not Functional-->
    <add key="updateJira" value="No" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="TestDataFolder" value="TestData" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
