<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <appSettings>
    <add key="ResultRepositoryConnStr" value="Data Source=mssql-rds.test.EquipmentReturn.com.au;Initial Catalog=AutomationResults;User Id=testrunner; Pwd=Q2r46gssR; application name=EquipmentReturn.automation" />
    <!--add key="ResultRepositoryConnStr" value="Data Source=db02-stag01.cihkda6g9gsf.ap-southeast-2.rds.amazonaws.com;Initial Catalog=AutomationResults;User Id=testrunner; Pwd=tEUQm$8T&amp;CXmcVy2&amp;c^3nA5p; application name=EquipmentReturn.automation"/-->

    <add key="ResultFlag" value="false"/>
    <add key="NewTestRun" value="false"/>

    <!--PLEASE leave this value set to 'true' as required for automated deployment ie default configuration-->
    <add key="DisableExtentReport" value="false"/>

    <!--set MobileMode value to true for chromemobilemode or set false-->
    <add key="MobileMode" value="false" />
    <!--set DeviceMode value to true for android mobile device  or set false to Ios mobile device-->
    <add key="DeviceMode" value="true" />

    <!--Scripts to be executed in specified environment path-->
    <add key="isStagingEnable" value="false" />
    <add key="isTrunkUrlEnable" value="false" />
    <add key="isTestLiveEnable" value="false" />
    <add key="isWebSiteRefreshEnable" value="false" />

    <!--PLEASE leave this value set to 'true' as required for automated deployment ie default configuration-->

    <add key="isSmokeTestEnabled" value="true" />

    <!--//this config setting shouldn't be true-->
    <add key="StagingProductID" value="1" />
    <add key="TrunkProductID" value="2" />
    <add key="NearPrimeProductID" value="3" />
    <add key="TestLiveProductID" value="4" />

    <!---Possible Values Staging 1 ; Trunk 2; NearPrime 3; TestLive 4; EquipmentReturnIt 5;Ackeware 6 -->
    <add key="TestSuitID" value="2" />
    <!--Need to change before RUN-->
    <!---Possible Values Smoke - 1; Regression - 2;SmokeTestCI - 3;SmokeTestBS - 4;Adhoc - 5-->
    <!--browser to use for execution possible values : firefox:chrome:ie:android:iphone:phantomjs:safari-->
    <add key="browser" value="chrome" />
    <add key="browser_version" value="47.0.2526.106 m" />
    <!--For Browser stack-->
    <!--execution environment for local and cloud sauceLabs execution(if user does not want to select cloud environment from jenkins)-->
    <add key="version" value="11" />
    <add key="platform" value="Windows 10" />
    <!--execution environment for local and cloud browserstack execution(if user does not want to select cloud environment from jenkins)-->
    <add key="os" value="Windows" />
    <add key="os_version" value="10" />
    <!--environment: possible values : local|BrowserStack|-->
    <add key="environment" value="BrowserStack" />
    <add key="ScreenShotPath" value="http://10.0.0.143/ScreenShots/" />
    <add key="serverlocal" value="http://127.0.0.1:4723/wd/hub" />
    <add key="server" value="http://hub-cloud.browserstack.com/wd/hub/" />
    <add key="browserstackuser" value="sunil406" />
    <add key="browserstackkey" value="v6NkgMhsa78ukX7gcLAQ" />
    <!--device: possile values: android|iphone-->
    <add key="androiddevice" value="android" />
    <add key="androiddeviceNameLocal" value="Dev’s iPhone" />
    <!--//92012226c0291469-->
    <add key="androiddeviceNameBS" value="Samsung Galaxy S5" />
    <add key="androiddeviceNameIphone" value="" />
    <!--device: possile values: android|iphone-->
    <add key="iosdevice" value="ios" />
    <add key="iosdeviceNameLocal" value="" />
    <add key="iosdeviceNameBS" value="iPhone 5" />
    <add key="iosdeviceNameIphone" value="iPhone 5" />

    <!--Environment to be tested-->
    <add key="stagingBaseUrl" value="https://staging.inator.com.au/application/get-started" />
    <!--<add key="stagingBaseUrl" value="http://prefail.inator.com.au/"/>-->
    <add key="trunkBaseUrl" value="http://trunk.inator.com.au/application/get-started" />
    <add key="testLiveBaseUrl" value="http://testlive.inator.com.au/" />
    <add key="websiteRefreshUrl" value="http://websiterefresh.inator.com.au/application/get-started" />
    <add key="smoketestUrl" value="http://bm1.cd.com/application/get-started" />

    <!--Debug clients-->
    <add key="stagingDebugUrlRLTestClient" value="https://staging.inator.com.au/Debug/TestClients" />
    <add key="trunkDebugUrlRLTestClient" value="http://trunk.inator.com.au/Debug/TestClients" />
    <add key="testLiveDebugUrlRLTestClient" value="http://testlive.inator.com.au/Debug/TestClients" />
    <add key="websiteRefreshDebugUrlRLTestClient" value="http://websiterefresh.inator.com.au/Debug/TestClients" />
    <add key="smoketestDebugUrlRLTestClient" value="http://bm1.cd.com/Debug/TestClients" />

    <!--Configuration URL-->
    <add key="stagingUrlConfiguration" value="https://staging.inator.com.au/debug/configuration" />
    <add key="trunkDebugUrlConfiguration" value="http://trunk.inator.com.au/debug/configuration" />
    <add key="testLiveDebugUrlConfiguration" value="https://testlive.inator.com.au/debug/configuration" />
    <add key="websiteRefreshDebugUrlConfiguration" value="http://websiterefresh.inator.com.au/debug/configuration" />
    <add key="smoketestDebugUrlConfiguration" value="http://bm1.cd.com/debug/configuration" />

    <!--cloudImplicitWait And cloudPageLoadTimeOut Used By Selenium WebDriver For Synchronization-->
    <add key="ImplicitWait" value="240" />
    <add key="PageLoadTimeOut" value="120" />
    <!--possible values for updateJira are: Yes Or No, May be helpful if Jira Is Down Or Not Functional-->
    <add key="updateJira" value="No" />
    <add key="localBaseDebugUrl" value="https://staging.inator.com.au/Debug" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
